
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- 404 error section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>General</h2>
                    <span>Đáng tiếc thật! Không tìm thấy rồi</span>
                    <p>Thật buồn khi mọi cố gắng đều thất bại</p>
                    <a href="/home"> Về trang chủ đi</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / 404 error section -->
