@model Model.EF.ProductCategory
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "ProductCategory", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Product Category | <a class="link-property" href="/Admin/ProductCategory/Index"><i class="fa fa-list text-secondary"></i></a></h1>
    </div>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Create" class="btn btn-primary btn-user btn-block" />
            </div>
        </div>
    </div>
}

