@model Model.EF.User
@using EWBOK_Final_Project.Common;
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/Content/client/img/slide/book_heart_page_shadow_light_25736_1920x1080.jpg" height="300" width="1920" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Quên mật khẩu</h2>
                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a></li>
                    <li class="active">Tài khoản</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <h4>Nhập email</h4>
                                <form action="/Login/ForgotPassword" method="post" class="aa-login-form">
                                    @if (TempData[Constants.ALERT_FORGOTPASSWORD_USERNAME] != null)
                                    {
                                        <p class="text-danger">@TempData[Constants.ALERT_FORGOTPASSWORD_USERNAME].ToString()</p>
                                    }
                                    <label>Username</label>
                                    <input name="username" type="text" />
                                    @if (TempData[Constants.ALERT_FORGOTPASSWORD_EMAIL] != null)
                                    {
                                        <p class="text-danger">@TempData[Constants.ALERT_FORGOTPASSWORD_EMAIL].ToString()</p>
                                    }
                                    <label>Email</label>
                                    <input name="email" type="text" />
                                    <input type="submit" class="aa-browse-btn" value="Xác nhận" />
                                </form>
                                <br />
                                <a href="@Url.Action("ForgotPasword","Login")" class="aa-browse-btn">Gửi lại mật khẩu mặc định</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
