
@{
    ViewBag.Title = "General";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container-fluid">
        @*404 Error Text*@
        <div class="text-center not__found">
            <div class="error error__404 mx-auto" data-text="GENERAL ERROR">
                GENERAL ERROR
                <div class="error-info">
                    <p class="lead text-gray-800 mb-5">Page Not Found</p>
                    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                    <p><a href="/Admin/Home">&larr; Back to Dashboard</a></p>
                </div>
            </div>
        </div>
    </div>


