@model List<Model.EF.Slide>


<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <!-- single slide item -->
                        <li>
                            <div class="seq-model">
                                <img data-seq src="~/Data/ImgSlide/@Model[i].Image" alt="Men slide img" />
                            </div>
                            <div class="seq-title">
                                <span data-seq>EWBOK - Bookstore</span>
                                <h2 data-seq>@Model[i].Title</h2>
                                <p data-seq>@Model[i].Decription</p>
                                <a data-seq href="@Model[i].Link" class="aa-shop-now-btn aa-secondary-btn">*+*+*</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->
